.cuadrito {
    position: fixed;
    top: 35%;
    right: 35%;
    border-radius: 10%;
    box-shadow: 0 0 25px #ddd;
    background-color: #ffffffcc;
    padding: 5%;
    width: 30%;
    height: 30%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}
  
.navbar a {
    background-color: #CAD43B;
}

.navbar a:hover {
    background-color: #4367ad;
}

.hide {
    display: none;
}

form>div {
    margin-top:20px;
}

input[type=text] {
    text-align:right;
}

#error {
    display: none;
    color:Red;
}