.cuadrito {
    position: fixed;
    top: 15%;
    right: 35%;
    border-radius: 10%;
    box-shadow: 0 0 25px #ddd;
    background-color: #ffffffcc;
    padding: 5%;
    width: 30%;
    height: 30%;
}

.cuadrito1 {
    position: fixed;
    top: 55%;
    right: 42.5%;
    border-radius: 10%;
    box-shadow: 0 0 25px #ddd;
    background-color: #ffffffcc;
    padding: 30px;
    width: 15%;
    height: 10%;
}

.button {
    background-color: #CAD43B;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
}

.button:hover {
    background-color: #4367ad;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}
  
.navbar a {
    background-color: #CAD43B;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #4367ad;
}

.hide {
    display: none;
}

form>div {
    margin-top:20px;
}

input[type=text] {
    text-align:right;
}

#error {
    display: none;
    color:Red;
}